@charaset "UTF-8"

html{
  font-size: 62.5%;
}
*,*::before,*::after{
  box-sizing: border-box;
}
body{
  background: black;
  background-size: cover;
  color: #fff;
  text-align: center;†
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

ul{
  text-align: left;
  width:400px;
  margin: 0 auto;
}

/*

---header--------------------

*/

.header{
  padding: 0px 0px 80px;
}
#menu {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}
#menu li{
	display: inline-block;
	width: 12.5%;
	margin: 0 auto;
	padding: 0;
}
#menu li a {
	display: block;
	padding: 20px 0 20px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border-right:1px solid #000;
}
#menu li:last-child a{
	border: none;
}
#menu li a:hover{
	background: gray;
}
#toggle {
	display: none;
}

/* 画面サイズが480px以下の場合に適用 */
@media only screen and (max-width: 480px) {
	#menu {
		display: none;
	}
	#menu li {
		width: 100%;
	}
	#toggle {
		display: block;
		position: relative;
		width: 100%;
		background: #black;
    font-size: 2.5rem;
    font-family:'HGP行書体';
	}
	#toggle a{
		display: block;
		position: relative;
		padding: 20px 0 20px;
		border-bottom: 1px solid #black;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}
	#toggle:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		background: #FFF;
	}
	#toggle a:before, #toggle a:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 30px;
		height: 6px;
		background: black;
	}
	#toggle a:before {
		margin-top:-9px;
	}
	#toggle a:after {
		margin-top: 3px;
	}
}
/*

----------article--------------

*/
h1{
  font-size: 3rem;
  padding-top: 0;
}
.article{
  background-color: #fff;
  color: #727171 ;
  width:800px;
  height: auto;
  padding: 0 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 10px;
}
.article-text p{
  text-align: left;
}
footer{
  margin: 50px auto;
}
footer a:hover{
  text-decoration:underline;
}
